.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.contact-section>div>.header{
    margin-top: 1.5rem;
}

.contact-section>.items{
    padding: 15px 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.contact-section>.items>.boxs{
    padding: 1% 1%;
    width: 90%;
    height: 200px;
    border-radius: 7px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-color: #1A1A1A;
}   

.contact-section>.items>.boxs>.icon{
    width: 40px;
    height: auto;
}

.contact-section>.items>.boxs:hover{
    background-color: yellow;
    color:black ;
}

.contact-section>.items>.boxs:hover>.answer{
    color:black ;
}

.contact-section>.items>.boxs>.icon{
    font-size: 2rem;
}

.contact-section>.items>.boxs:hover>.icon{
    color: black;
}

.contact-section>.items>.boxs>.question{
    text-transform:capitalize;
}

.contact-section>.items>.boxs>.answer{
    font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .contact-section>.items{
        width: 93%;
    }

    .contact-section>.items>.boxs>.icon{
        width: 50px;
    }
    .contact-section>.items>.boxs{
        padding: 1% 1%;
        width:43%;
        height: 200px;
    }
    .contact-section>.items>.boxs>.question,.answer{
        font-size: 18px;
       
    }
    .contact-section>.items>.boxs>.answer{
        font-size: 18px;
    }
}

@media (min-width: 1025px) and (max-width: 2560px) {

    .contact-section>.items{
        width: 78%;
    }

    .contact-section>.items>.boxs>.icon{
        width: 58px;
    }
    .contact-section>.items>.boxs{
        padding: 1% 1%;
        width:43%;
        height: 200px;
    }
    .contact-section>.items>.boxs>.question,.answer{
        font-size: 18px;
       
    }
    .contact-section>.items>.boxs>.answer{
        font-size: 18px;
    }
}