.resume-section{
    margin-top: 2rem;
}
.heading{
   font-size: 24px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.resume{
    border: 4px solid transparent;
    padding: 0px 3px;
    cursor: pointer;
}

.resume:hover{
    border-bottom:4px solid yellow;
}

.insitute{
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    text-wrap: wrap;
}

.resume-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box{
    margin-top: 1rem;
    position: relative;
    width: 95%;
    height: 370px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.bg-img{
    width:100%;
    height: 370px;
    position: absolute;
    border-radius: 10px;
}

.data{
    position:absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    text-align: center;
}

.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year>img{
    width: 70%;
    height: 60px;
}

.roll{
    display: flex;
    gap: 7px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.about-course{
    font-size: 14px;
    font-weight: 500;
}

.download-resume{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media (min-width: 500px) and (max-width: 767px) {
    .heading{
        font-size: 2.1rem;
    }

    .box{
        width: 90%;
    }

    .year>img{
        width: 70%;
        height: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1458px) {
    .resume-container{
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 0px;
        gap:20px
    }

    .heading{
        font-size: 2.1rem;
    }

    .box{
        width: 45%;
    }

    .year>img{
        width: 60%;
        height: 60px;
    }

    .about-course{
        font-size: 16px;
    }

    .roll{
        font-size: 17px;
    }

    .year{
        font-size: 18px;
    }
}

@media (min-width: 1458px) and (max-width: 2560px) {
    .heading{
        font-size: 2.1rem;
    }
    
    .resume-container{
        flex-wrap: wrap;
        flex-direction: row;
        padding: 20px 0px;
        gap:3rem;
    }

    .bg-img{
        height: 450px;
    }

    .box{
        margin-top: 2rem;
        width: 40%;
        height: 450px;
    }

    .year>img{
        width: 50%;
        height: 60px;
    }

    .about-course{
        font-size: 18px;
    }

    .roll{
        font-size: 18px;
    }

    .year{
        font-size: 25px;
    }

    .insitute{
        font-size: x-large;
    }
}

