.version-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.owner-version{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: gray;
}